div.inline > h1, div.inline > h3  { display: inline; }

.disque > img{
	width: 20%;
}

.concerts > li{
	font-size:1rem;	

	padding-top: 0px;
	padding-bottom: 0px;
}

h2.concerts{
	margin-bottom: 2rem;
}
h3.concerts {
	margin-top: 0px;
}

#soussol {
	height: 50%;
}

#lesobjetscrevent {
	height: 50%;
}

#compilations {
	margin-top: 4rem;
}

.song-list{
	text-align: justify;
    text-justify: inter-word;
    margin-top: 1rem;
}

.gutter{
	width: 10px;
}
nav {

	position:fixed;
	background-color: #fffff8;
	top:0px;
	left: 0px;
	width:100%;

}

.menu {
	float: right;
	margin-right: 10%;
	margin-top: 10px;
	margin-bottom: 5px;

   	height: 50px;
}

.menu > li{
	display :inline;
}

.menu > img{

}

.menu-img{
	height: 30px;
}

#news-title {
	height: 70px;
	width: 100%;
	background-image: url("assets/news_title.jpg");
	background-repeat: repeat-x;

}
   
.title-1{
	height: 50px;
	width: auto;
}

.title-2{
	height: 58px;
	width:auto;
}

.title-3{
	height: 53px;
	width: auto;
}

article {
	top:70px;
}